.woosvi_strap img:hover {
  cursor: pointer !important;
}
.fader-enter-active,
.fader-leave-active {
  transition: opacity 0.3s;
}
.fader-enter, .fader-leave-to {
  opacity: 0;
}
div.svi-stackedsection {
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}
ul.svistacked {
  list-style: none;
  padding: 0px !important;
  margin: 0px;
}
img.svi-thumb-image {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out;
}
@keyframes fadein {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
div.svi-thumb img {
  width: auto;
}
ul.svistacked li::before {
  content: none;
}
ul.svistacked.columns-1 li {
  width: 100%;
  margin-right: 0;
  float: none;
}/*THE VERTICAL*/
.swiper {
  width: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.swiper-slide img {
  width: 100% !important;
}
.sviproslider {
  position: relative;
}
.swiper-lazy-preloader {
  border-right: 4px solid transparent !important;
  /* Light grey */
  border-top: 4px solid var(--lazyloadColor) !important;
  /* Blue */
  border-bottom: 4px solid var(--lazyloadColor) !important;
  /* Blue */
  border-left: 4px solid var(--lazyloadColor) !important;
  /* Blue */
}
.sviswiper-pagination .swiper-pagination-bullet-active {
  background: var(--paginationColor);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--paginationColor);
}
.swiper-button-next.swiper-buttoncustom,
.swiper-button-prev.swiper-buttoncustom {
  color: var(--sviproslider_navcolor, var(--swiper-theme-color));
}
.swiper-button-next.swiper-button-black,
.swiper-button-prev.swiper-button-black {
  color: #000;
}
.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
  color: #fff;
}
.svi-gallery-thumbs.swiper-horizontal {
  margin-top: 30px;
}
.svi-gallery-thumbs.swiper-vertical:not(.swiper-rtl) .swiperThumbs-swiper-button-prev {
  top: 5px;
  transform: rotate(90deg) translateY(50%);
  height: 25px;
  left: 50%;
  right: unset;
  margin-top: 0px;
}
.svi-gallery-thumbs.swiper-vertical:not(.swiper-rtl) .swiperThumbs-swiper-button-next {
  transform: rotate(90deg) translateY(50%);
  height: 25px;
  left: 50%;
  right: unset;
  margin-top: 0px;
  bottom: 5px;
  top: unset;
}
.svi-gallery-thumbs.swiper-vertical.swiper-rtl .swiperThumbs-swiper-button-next {
  transform: rotate(-90deg) translateY(-50%);
  height: 25px;
  left: 50%;
  right: unset;
  margin-top: 0px;
  bottom: 5px;
  top: unset;
}
.svi-gallery-thumbs.swiper-vertical.swiper-rtl .swiperThumbs-swiper-button-prev {
  top: 5px;
  transform: rotate(-90deg) translateY(-50%);
  height: 25px;
  left: 50%;
  right: unset;
  margin-top: 0px;
}
div.sviproslider div.swiper-button-disabled {
  display: none;
}
.sviflex-l > .sviproslider .gallery-top-title {
  position: absolute;
  bottom: -10%;
  z-index: 10;
  width: 80%;
  right: 0;
}
.sviflex-r > .sviproslider .gallery-top-title {
  position: absolute;
  bottom: -10%;
  z-index: 10;
  width: 80%;
}
.sviis-loading {
  display: none;
}
.svi-gallery-thumbs img:hover {
  cursor: pointer;
}.svi-mainsection {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}.woosvi_strap img[data-v-eca8d2b6]:hover {
  cursor: pointer !important;
}
.fader-enter-active[data-v-eca8d2b6],
.fader-leave-active[data-v-eca8d2b6] {
  transition: opacity 0.3s;
}
.fader-enter[data-v-eca8d2b6], .fader-leave-to[data-v-eca8d2b6] {
  opacity: 0;
}
div.svimainthumb.svi-thumbsection[data-v-eca8d2b6] {
  margin-top: 15px;
}
.svivariationsthumb ul.svithumbnails.svishow[data-v-eca8d2b6] {
  width: auto !important;
}
[data-v-eca8d2b6]:only-child {
  /*color: red;*/
}
.svivariationsthumb ul.svithumbnails.svishow li[data-v-eca8d2b6]:only-child {
  width: 100% !important;
}
ul.svithumbnails.svishow[data-v-eca8d2b6] {
  list-style: none;
  padding: 0px !important;
  margin: 0px;
  display: inline-block;
  width: 100%;
}
img.svi-thumb-image[data-v-eca8d2b6] {
  opacity: 0;
  animation-name: fadein-eca8d2b6;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-out;
}
@keyframes fadein-eca8d2b6 {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
div.svi-thumb img[data-v-eca8d2b6] {
  width: auto;
}.sviflex-l .svi-thumbsection,
.sviflex-r .svi-thumbsection {
  margin-top: 0px !important;
}.et_pb_module .gallery-svi {
  width: 100% !important;
}
.woocommerce-product-gallery {
  display: block !important;
}
.woosvi_strap {
  width: auto;
  height: auto;
  position: relative;
}
.woosvi_strap img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.woosvi_strap:not(.svi-stacked-parent) {
  max-width: 100%;
  max-height: 100%;
}
img.svi-opacity {
  animation: unset !important;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  opacity: 0.5 !important;
}
.woosvi_strap.sviflex > .svistatic,
.woosvi_strap.sviflex > .sviproslider {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.woosvi_strap.sviflex > .svistatic .swiper-slide,
.woosvi_strap.sviflex > .sviproslider .swiper-slide {
  height: auto !important;
}
.sviflex-l > .svistatic .svi-thumbsection:not(.swiper-container-rtl),
.sviflex-l > .sviproslider .svi-gallery-thumbs:not(.swiper-container-rtl) {
  order: 1;
  flex-basis: 15%;
  max-width: 15%;
}
.sviflex-l > .svistatic .svi-mainsection:not(.swiper-container-rtl),
.sviflex-l > .sviproslider .svi-gallery-top:not(.swiper-container-rtl) {
  order: 2;
  flex-basis: 80%;
  max-width: 80%;
}
.sviflex-l > .svistatic .svi-thumbsection.swiper-container-rtl,
.sviflex-l > .sviproslider .svi-gallery-thumbs.swiper-container-rtl {
  order: 2;
  flex-basis: 15%;
  max-width: 15%;
}
.sviflex-l > .svistatic .svi-mainsection.swiper-container-rtl,
.sviflex-l > .sviproslider .svi-gallery-top.swiper-container-rtl {
  order: 1;
  flex-basis: 80%;
  max-width: 80%;
}
.sviflex-r > .svistatic .svi-thumbsection:not(.swiper-container-rtl),
.sviflex-r > .sviproslider .svi-gallery-thumbs:not(.swiper-container-rtl) {
  flex-basis: 15%;
  max-width: 15%;
}
.sviflex-r > .svistatic .svi-mainsection:not(.swiper-container-rtl),
.sviflex-r > .sviproslider .svi-gallery-top:not(.swiper-container-rtl) {
  flex-basis: 80%;
  max-width: 80%;
}
.sviflex-r > .svistatic .svi-thumbsection.swiper-container-rtl,
.sviflex-r > .sviproslider .svi-gallery-thumbs.swiper-container-rtl {
  order: 1;
  flex-basis: 15%;
  max-width: 15%;
}
.sviflex-r > .svistatic .svi-mainsection.swiper-container-rtl,
.sviflex-r > .sviproslider .svi-gallery-top.swiper-container-rtl {
  order: 2;
  flex-basis: 80%;
  max-width: 80%;
}
.sviproslider .swiper:not(.swiper-cube) .swiper-slide {
  min-height: auto !important;
}
.svitn_wrapper:first-of-type {
  margin-top: 5px;
}
.svitn_img {
  border: solid 1px lightgray !important;
  width: 35px !important;
  height: 31px !important;
  display: inline-block !important;
  margin: 1px !important;
  cursor: pointer;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}
.svitn_current_img {
  border: solid 1px #ff5a00 !important;
  opacity: 0.3;
}
.svititleimg {
  text-align: center;
}
.sviflex-r > .sviLigthgallery {
  left: 4%;
  right: unset;
}
.sviLigthgallery-trigger {
  display: none;
}
.svivariationsthumb span.sviLigthgallery {
  right: 8px;
  top: 8px;
  width: 15px;
  height: 15px;
}
span.sviLigthgallery {
  position: absolute;
  z-index: 1010;
  right: 15px;
  top: 15px;
  font-size: 16px;
  cursor: pointer;
  border: 3px dashed;
  width: 20px;
  height: 20px;
  opacity: 1;
  animation: fadeInSvi 1s ease-in-out 0.4s 1 forwards;
}
span.sviLigthgallery:hover {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  opacity: 0.5;
}
div.sviicon-play {
  position: absolute;
  font-size: 100%;
  border: solid 2px #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  aspect-ratio: 1/1;
  height: auto;
  z-index: 10;
  cursor: pointer;
}
div.sviicon-play span.dashicons {
  top: 50%;
  left: 55%;
  width: unset;
  height: unset;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  position: absolute;
}
div.sviicon-play:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
div.sviicon-play:active, div.sviicon-play:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.svistacked span.dashicons {
  font-size: 8vw !important;
}
ul.svithumbnails li.first,
ul.svithumbnails:after {
  clear: both;
}
ul.svithumbnails li {
  padding: 0;
  float: left;
  margin-bottom: 15px;
  margin-right: 3.8%;
  width: 30.75%;
  margin-left: 0;
  list-style: none;
  position: relative;
}
ul.svithumbnails li::before {
  content: none;
}
ul.svithumbnails.columns-1 li {
  width: 100%;
  margin-right: 0;
  float: none;
}
ul.svithumbnails.columns-2 li {
  width: 48%;
}
ul.svithumbnails.columns-4 li {
  width: 22.05%;
}
ul.svithumbnails.columns-5 li {
  width: 16.9%;
}
ul.svithumbnails.columns-6 li {
  width: 14.1%;
  margin-right: 3%;
}
ul.svithumbnails.columns-7 li {
  width: 11%;
}
ul.svithumbnails.columns-8 li {
  width: 10%;
  margin-right: 2.8%;
}
ul.svithumbnails.columns-9 li {
  width: 9.1%;
  margin-right: 2.2%;
}
ul.svithumbnails.columns-10 li {
  width: 8.2%;
  margin-right: 2%;
}
ul.svithumbnails li.last {
  margin-right: 0;
}
div.svi-stackedsection ul.svistacked li > div.plyr {
  display: contents !important;
}
.shopkeeper-svi {
  overflow: hidden !important;
}
.cd-quick-view .gallery-svi {
  float: left !important;
  max-width: 480px !important;
}
.svi-image-compare {
  display: flex;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 0 auto 1.618em;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}
.svi-image-compare[data-ratio="1x1"] {
  padding-top: 100%;
}
.svi-image-compare[data-ratio="5x3"] {
  padding-top: 60%;
}
.svi-image-compare[data-ratio="4x1"] {
  padding-top: 25%;
}
.svi-image-compare[data-cut=vertical] {
  flex-direction: column;
  padding-top: 0 !important; /* Override padding-top to avoid sizing issues */
}
.svi-image-compare[data-cut=vertical] > li {
  position: static;
  width: 100%;
  height: calc(100% / var(--count)); /* Dynamically calculate height based on number of images */
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  display: block; /* Ensure the li element is visible */
  transition: height 0.3s ease, top 0.3s ease; /* Add transition for sliding effect */
}
.svi-image-compare[data-cut=horizontal] > li {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  height: 100%;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transition: width 0.3s ease, left 0.3s ease;
}
.svi-image-compare[data-cut=diagonal] {
  flex-direction: row;
}
.svi-image-compare[data-cut=diagonal] > li {
  position: absolute;
  top: 0;
  bottom: 0; /* Ensure the image fills the container vertically */
  height: 100%;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  transition: width 0.3s ease, left 0.3s ease, clip-path 0.3s ease;
  box-shadow: none;
}
.svi-image-compare[data-cut=diagonal] > li:not(.last) {
  clip-path: polygon(0 0, 100% 0, var(--cut-percentage) 100%, 0 100%);
}
.svi-image-compare[data-cut=diagonal] > li.last {
  clip-path: none; /* No cut for the last image */
}
.svi-image-compare > li img {
  display: none !important;
}
.woocommerce-LoopProduct-link {
  display: block;
  position: relative;
  width: 100%;
  overflow: visible;
}
.svi-drop-gallery img {
  max-width: 100%;
  height: auto;
}
.pswp__caption__center {
  text-align: center;
}
.pswp__caption {
  bottom: 3em;
}
.pswp__previews {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  overflow: auto;
  scrollbar-width: none;
}
.pswp__previews::-webkit-scrollbar {
  display: none;
}
.pswp__previews img {
  --size: 3em;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  opacity: 0.3;
  transition: opacity 0.3s;
  cursor: pointer;
  border-radius: 0;
  padding: 3px 1px;
  z-index: 1;
}
.pswp__previews img:hover {
  opacity: 0.8;
}
.pswp__previews img.is-active {
  opacity: 1;
  cursor: default;
}
.pswp__button.pswp__button--thumb {
  background-image: unset !important;
  font-size: 11px;
  color: #fff;
}